<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfUEp4l6pTyCp9UEB_RjycNiKT6gl0mJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>181381544731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtsaccorsi.notas</string>
	<key>PROJECT_ID</key>
	<string>notas-aedde</string>
	<key>STORAGE_BUCKET</key>
	<string>notas-aedde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181381544731:ios:53ffdc986f9c015e53b1be</string>
</dict>
</plist>